<!DOCTYPE html>
<html>
  <body>
    <h1>Employee Details</h1>
    <p><% if(locals.msg){ %> <%= msg %> <%}%></p>
      EmployeeEmail : <span><%= userData.employeeEmail %></span> <br>
      Name :<span><%= userData.name %></span><br>
      ManagerEmail : <span><%= userData.managerEmail %></span><br>
      Role : <span><%= userData.role %></span><br>
      Phone : <span><%= userData.phone %></span><br>

      <h3><a href="/home">Home</a></h3>
      <h3><a href="/users">View all users</a></h3>
  </body>
</html>
