<!DOCTYPE html>
<html>
  <head>
    <script src= "scripts/lib/jQuery.js"></script>
    <script src= "scripts/user.js"></script>
  </head>
  <body>
    <h1>Update Employee</h1>
    <p><% if(locals.msg){ %><%= msg %><%}%></p>
    <form id="update-employee-form" action="/updateuser" method="post">

    <% if(locals.allUsers) { %>
      EmployeeId :
      <select name="employeeId">
      <option value="">Select</option>
      <% allUsers.forEach(function(user) { %>
          <option value="<%= user.employeeId %>" <%= (user.employeeId == userData.employeeId ? "selected" : "") %>  ><%= user.employeeId %></option>
       <% }); %>
       </select> <br>

      Name :
      <input type = "string" name="name" required="true" value = "<%= userData.name %>" > <br>
      Password :
      <input type = "password" name="password" value = "<%= userData.password %>"><br>
      ManagerId :
      <input type = "string" name="managerId" value = "<%= userData.managerId %>"> <br>
      Role :
      <input type = "string" name="role" value = "<%= userData.role %>"><br>
      Phone :
      <input type = "string" name="phone" value = "<%= userData.phone %>"><br>
     <% } %>

      <input type = "submit" value = "Update" >
    </form>
  </body>
</html>
